<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <script src="/assets//js/jquery.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/ScrollReveal.js"></script>
  <script src="/assets/js/typed.js"></script>
  <script src="/assets/js/flickity.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/css/flickity.css" />
  <link rel="stylesheet" href="/assets/css/cdnfonts.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
  <link rel="icon" href="assets/images/prudentia-logo.png" />
  <meta name="author" content="Prudentia" />
  <!-- <meta name="keywords" content="" />
  <meta name="description" content="" /> -->
</head>
